body {
  background: #333;
  color: white;
  padding-top: 5em; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
  margin-bottom: 2em; }

.news-div {
  background: grey;
  margin: 0 auto;
  width: 80%;
  padding: 1em;
  margin-bottom: 1em; }

.news-div button {
  display: block;
  width: 90%;
  margin: 1em; }

.show-news-div {
  background: rgba(175, 175, 175, 0.959);
  margin: 0 auto;
  width: 80%;
  padding: 2em 2em 1em 0em;
  text-align: center; }

.headline {
  padding-left: 1.5em; }

li {
  list-style-type: none; }

.list-group-item {
  background: #d6cece;
  margin: 1em 2em 1em 2em; }

a {
  color: #008ed6; }

a:hover {
  color: red;
  text-decoration: none; }

.title-h {
  color: #333; }

.time-p {
  color: rgba(199, 219, 219, 0.788); }

.time-statement {
  color: rgba(199, 219, 219, 0.788);
  margin-bottom: 0; }
