$bg-color: #333;
$font-color: white;
$primary-color: #008ed6;

body {
  background: $bg-color;
  color: $font-color;
}

.navbar {
  border-bottom: $primary-color 3px solid;
  opacity: 0.8;
  margin-bottom: 2em;
}

.news-div {
  background: grey;
  margin: 0 auto;
  width: 80%;
  padding: 1em;
}

.news-div button {
  display: block;
  width: 90%;
  margin: 1em;
}

.show-news-div {
  background: rgb(85, 172, 184);
  margin: 0 auto;
  width: 80%;
  padding: 2em 2em 1em 0em ;
  margin-top: 2em;
  text-align: center;
}
li {
  list-style-type: none;
}
.list-group-item {
  background: rgb(214, 206, 206);
  margin: 1em 2em 1em 2em;
}
a {
  color: rgb(102, 18, 18);
}

a:hover {
  color: red;
  text-decoration: none;
}


